.en
{
	height: 150px;
	width: 100%;
	background-color: #f8f8f8 ; 
	display: block;
	position: relative;
}
.fb
{
	color:rgba(33, 93, 188,1);
	font-size-adjust: all;
}
.co
{
	border-right: 2px ridge #f8f8f8;
}
.en1
{
	background-color:#f8f8f8;
	height: 100%;
	text-align: center; 
}
.en2
{
	height: 80%;
	width: 80%;
}

footer
{
	background-color: rgba(38, 98, 193,1);
	display: block;
	position: relative;
}
body
{
	font-family: Open Sans;
}
.fw
{
	color: rgb(243, 243, 250);
}
b.footer
{
	color: white;
}
.pe
{
	display:block;
	width:100%;
	height:10%;
	position:relative;
	float: left;
}
.bl
{
	display:block;
	width:100%;
	height:60px;
	position:relative;
	float: left;
	background-color: white;
}
.blo
{
	display:block;
	width:8.33%;
	height:60px;
	position:relative;
	float: left;
}
.comp
{
	color: rgba(213, 148, 26, 0.9);
}
.info-footer{
	height: 150px;
	padding-top: 25px;
}

.info-footer:after
{
position: absolute;	
top: 25%;	
right: 0.8em;		
height: 50%;	
border-right: solid 1px;
content: '';
}